<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />
<title>Processo de Desenvolvimento Individual</title>

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"
		id="main-navbar" th:fragment="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Novo PDI</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/funcionarios/novo}">Cadastrar Funcionario</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/pdis/novo}">Cadastrar PDI</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/funcionarios/lista}">Lista funcionarios</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/pdis/lista}">Lista de PDIs</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container my-2">

		<form action="#" th:action="@{/pdis/salvar}" th:object="${pdi}"
			method="POST">
			<div>
				<select id="funcionario" th:field="*{funcionario} "
					class="form-control mb-4 col-4">
					<option value="">Selecione o funcionario</option>
					<option th:each="funcionario : ${funcionarios}"
						th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
				</select>

				<textarea th:object="${pdi}" th:field="*{avaliacao}" rows="3"
					placeholder="Avaliação"
					class="form-control mb-4 col-4"></textarea>

			</div>
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>

	</div>
</body>
</html>