<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Lista PDIs</title>

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"
		id="main-navbar" th:fragment="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Lista de PDIs</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/funcionarios/novo}">Cadastrar Funcionario</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/funcionarios/lista}">Lista de funcionarios</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/pdis/novo}">Cadastrar PDI</a>
				</div>
			</div>
			<div class="align-content-cn col-sm-7">
				<h2>Lista de PDIs</h2>
			</div>
		</div>
	</nav>

	<div class="container my-2">
		<br>
		<table border="1"
			class="table table-sm table table-bordered table-responsive-md">
			<thead class="table-dark">
				<tr>
					<th>Funcionario</th>
					<th>Avaliação</th>
					<th>Data de Criação</th>
					<th>Excluir</th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="pdi : ${listaPdis}">
					<td th:text="${pdi.funcionario.nome}"></td>
					<td th:text="${pdi.avaliacao}"></td>
					<td th:text="${pdi.dataCriacao}"></td>
					<td>
						<a th:href="@{/pdis/excluirPdi/{id}(id=${pdi.id})}" class="btn btn-danger">Excluir</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>